body {
    background-color: rgb(1, 1, 80);
    color: white;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#HangmanDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vw;
}

#placeHolder {
    letter-spacing: 2vw;
}

#Alphabet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
    margin: 2vw;
}

.Letter {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 110, 110);
    width: 1vw;
    height: 1vw;
    padding: 1vw;
    margin: 1vw;
    border-radius: 50%;
}

#Guesses{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Guesses input{
    width: 30vw;
    height: 2vw;
}

#Guesses button {
    height: 2vw;
    margin-top: -.5vw;
}